main{
   
    width: 100vw;
    height: 700px;
    

}
h2{
    margin-top: 6%;
    margin-bottom: 2%;
    font-family: var(--fuente-principal);
    color: var(--color-secundario);
    font-size: 2.5rem;
    letter-spacing: 1.5rem;
    animation: showTitle 400ms linear;
    
}

@keyframes showTitle{
    from{
       
        transform: translateY(-500%)
        
    }
    to{
        transform: translateY(0%);
      
    }
}

.video{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.video video{

   
    width: 60%;
    height: auto;
    height: auto;
    
    box-shadow: 0 0 0 10px var(--color-secundario),  11px -11px 73px 0px rgba(141, 13, 19, 0.883);
    border-radius: 2%;
    cursor: pointer;
}
