:root{
    /********COLORES************/
    --color-principal:#ec0d18;
    --color-secundario:#fff;

    /********FUENTES************/
    --fuente-principal: "Titillium";
    --fuente-secundaria:"Helvetica" ;

    /********BORDES***********/
    --border-radius: 8px;
}

a,
a:visited,
a:link,
a:focus{
    text-decoration: none;
    font-family: var(--fuente-principal);
}